@model PizzaAflevering.Models.Database.Pizza

@{
    ViewBag.Title = "PizzaDeleter";
}

<h2>PizzaDeleter</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pizza</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.toppings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.toppings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.priceAlm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.priceAlm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.priceFam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.priceFam)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
